nav {
    background-color: black;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    color: white;
    padding: 10px 20px;
}

nav1 {
    background-color: rgb(245, 239, 239);
}